@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../webfonts/rubik-v12-latin-500.woff2") format("woff2"), url("../webfonts/rubik-v12-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/rubik-v12-latin-regular.woff2") format("woff2"), url("../webfonts/rubik-v12-latin-regular.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  background-color: #fff;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 500;
}

.title {
  max-width: 540px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1210px;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.page__main-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.site-header {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 2px 0px 20px 5px #ececec;
          box-shadow: 2px 0px 20px 5px #ececec;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 50px;
}

.site-header__container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6px;
}

.site-header__menu-toggler {
  display: none;
}

@media only screen and (max-width: 768px) {
  .site-header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-header__menu-toggler {
    position: absolute;
    right: 32px;
    top: 50%;
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
    display: block;
    width: 18px;
    height: 15px;
    padding: 0;
    border: none;
    background-color: tranparent;
    background-image: url("../../images/site-header-toggler--hamburger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    outline-offset: 5px;
  }
  .site-header__menu-toggler::before {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 54px;
    height: 54px;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    content: "";
  }
  .site-header--open .site-header__menu-toggler {
    background-image: url("../../images/site-header-toggler--close.svg");
    background-color: transparent;
  }
  .site-header--open .logo__img {
    background-image: url("../../images/site-header-logo--white.svg");
  }
}

.sitenav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sitenav__item:not(.sitenav__item:first-of-type) {
  margin-left: 48px;
}

.sitenav__link {
  display: inline-block;
  text-transform: uppercase;
  color: #242a45;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.sitenav__link:hover:not(.sitenav__link--bordered) {
  color: #fa5959;
}

.sitenav__link--bordered {
  padding: 12px 32px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid transparent;
  background-color: #fa5959;
  -webkit-transition: background-color 0.2s linear, border 0.3s ease, color 0.2s linear;
  transition: background-color 0.2s linear, border 0.3s ease, color 0.2s linear;
}

.sitenav__link--bordered:hover {
  background-color: #fff;
  color: #fa5959;
  border: 2px solid #fa5959;
}

@media only screen and (max-width: 768px) {
  .sitenav {
    display: none;
  }
}

.site-header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-right: auto;
  margin-left: 6px;
}

.logo__img {
  display: block;
}

.logo--second {
  display: none;
}

@media only screen and (max-width: 768px) {
  .site-header__logo {
    margin: 0;
  }
  .site-header--open .logo {
    display: none;
  }
  .site-header--open .logo--second {
    display: block;
  }
}

.site-hero {
  margin-top: 150px;
  background-image: url("../images/site-hero-right-bg--desktop.svg");
  background-repeat: no-repeat;
  background-size: 1154.5px 485.5px;
  background-position: calc(50% + 590px), calc(50% + 100px);
  width: 100%;
  min-height: 485.5px;
  padding-top: 99px;
  padding-bottom: 123px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 1200px) {
  .site-hero {
    background-size: contain;
    background-position: calc(50% + 490px), calc(50% + 100px);
  }
}

@media only screen and (max-width: 1000px) {
  .site-hero {
    background-size: 950px 335px;
    background-position: calc(50% + 200px) calc(50% - 200px);
  }
}

.site-hero__info {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.site-hero__info__heading {
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  margin-bottom: 24px;
  color: #242a45;
}

.site-hero__info__desc {
  font-size: 17.7px;
  line-height: 28px;
  margin-top: 0;
  color: rgba(36, 42, 69, 0.5);
  margin-bottom: 32px;
}

@media only screen and (max-width: 1200px) {
  .site-hero__info {
    max-width: 450px;
  }
}

@media only screen and (max-width: 1000px) {
  .site-hero__info {
    margin: 380px auto 0;
    text-align: center;
    max-width: 500px;
  }
}

.buttons-site-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons-site-hero__button {
  display: inline-block;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s linear, border 0.3s ease, color 0.2s linear;
  transition: background-color 0.2s linear, border 0.3s ease, color 0.2s linear;
}

.buttons-site-hero__button--blue {
  border: 2px solid transparent;
  color: #fff;
  background-color: #5267df;
  margin-right: 16px;
}

.buttons-site-hero__button--blue:hover {
  border: 2px solid #5267df;
  background-color: #fff;
  color: #5267df;
}

.buttons-site-hero__button--white {
  color: #242a45;
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
}

.buttons-site-hero__button--white:hover {
  border: 2px solid #242a45;
  background-color: transparent;
}

@media only screen and (max-width: 1000px) {
  .buttons-site-hero {
    margin: 0 auto;
  }
}

.features {
  padding-top: 50px;
  padding-bottom: 50px;
}

.features__header {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-align: center;
}

.features__heading {
  color: #242a45;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.features__info {
  font-size: 18px;
  line-height: 28px;
  color: rgba(36, 42, 69, 0.5);
  margin: 0;
}

.features__panel {
  display: none;
}

.features__panel--active {
  display: block;
}

.tabs-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 730px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 72px;
  list-style-type: none;
  border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.tabs-features__item {
  width: calc(100% / 3);
}

.tabs-features__link {
  text-align: center;
  display: block;
  text-decoration: none;
  color: rgba(36, 42, 69, 0.75);
  line-height: 17px;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 0.533333px;
  padding-top: 32px;
  padding-bottom: 28px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.tabs-features__link:hover {
  color: #fa5959;
}

.tabs-features__item--active .tabs-features__link {
  color: #242a45;
  border-bottom: 4px solid #fa5959;
}

.panels-features {
  background-image: url("../../images/features-slide-first-bg.svg");
  background-repeat: no-repeat;
  background-size: 1065px 435px;
  background-position: calc(50% - 550px) calc(50% - 85px);
  padding-bottom: 258px;
}

.panel {
  max-width: 445px;
  margin-left: auto;
  padding-top: 57px;
  padding-bottom: 57px;
}

.panel__heading {
  color: #242a45;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.panel__desc {
  font-size: 18px;
  line-height: 28px;
  color: rgba(36, 42, 69, 0.5);
  margin-top: 0;
  margin-bottom: 32px;
}

.panel__more-info {
  text-transform: capitalize;
  display: inline-block;
  padding: 8px 22px;
  color: #fff;
  background-color: #5267df;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: background-color 0.2s linear, border 0.3s ease, color 0.2s linear;
  transition: background-color 0.2s linear, border 0.3s ease, color 0.2s linear;
}

.panel__more-info:hover {
  border: 2px solid #5267df;
  background-color: #fff;
  color: #5267df;
}

.extension__container {
  margin-bottom: 149px;
}

.extension__heading {
  color: #242a45;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.extension__info {
  font-size: 18px;
  line-height: 28px;
  color: rgba(36, 42, 69, 0.5);
  margin: 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-right: 100px;
  padding-left: 100px;
}

.card {
  width: 280px;
  -webkit-box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
          box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
  text-align: center;
  padding: 49px 24px 24px;
}

.card--chrome {
  margin-right: 34px;
}

.card--firefox {
  margin-right: 37px;
  margin-top: 40px;
}

.card--opera {
  margin-top: 80px;
}

.cards__img {
  margin-bottom: 32px;
}

.cards__heading {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
  margin-bottom: 6px;
}

.cards__desc {
  display: inline-block;
  margin: 0;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 28px;
  color: rgba(36, 42, 69, 0.5);
}

.cards__button::before {
  display: block;
  position: absolute;
  z-index: -1;
  top: -24px;
  left: -24px;
  content: "";
  width: 280px;
  height: 4px;
  background-image: url("../../images/dots-shape.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.cards__button {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 28px;
  padding: 8px 33px;
  font-weight: 500;
  white-space: nowrap;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: #5267df;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  border: 2px solid transparent;
  -webkit-transition: background-color 0.2s linear, border 0.3s ease, color 0.2s linear;
  transition: background-color 0.2s linear, border 0.3s ease, color 0.2s linear;
}

.cards__button:hover {
  border: 2px solid #5267df;
  background-color: #fff;
  color: #5267df;
}

@media only screen and (max-width: 1200px) {
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
  }
}

.questions {
  margin-bottom: 150px;
}

.questions__heading {
  color: #242a45;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.questions__info {
  font-size: 18px;
  line-height: 28px;
  color: rgba(36, 42, 69, 0.5);
  margin: 0;
}

.questions__list {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 54px;
  text-align: center;
}

.questions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  line-height: 32px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-top: 1px solid rgba(36, 42, 69, 0.15);
}

.questions__item--fourth {
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}

.active.questions__item::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.questions__item:hover {
  color: #fa5959;
}

.questions__item::after {
  content: "";
  background-image: url("../../images/arrow-to-bottom.svg");
  width: 16px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.questions__toggler {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
}

.questions__desc {
  font-size: 14px;
  line-height: 24px;
  color: rgba(36, 42, 69, 0.5);
}

.questions__desc--last {
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
  padding-bottom: 14px;
}

.questions__more-info {
  width: 115px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 22px;
  color: #fff;
  background-color: #5267df;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  border-radius: 5px;
  border: 2px solid transparent;
  margin: 0 auto;
  -webkit-transition: background-color 0.2s linear, border 0.3s ease, color 0.2s linear;
  transition: background-color 0.2s linear, border 0.3s ease, color 0.2s linear;
}

.questions__more-info:hover {
  border: 2px solid #5267df;
  background-color: #fff;
  color: #5267df;
}

.join-us {
  padding-top: 58px;
  padding-bottom: 74px;
  text-align: center;
  background-color: #5267df;
}

.join-us__wrapper {
  width: 445px;
  margin: 0 auto;
}

.join-us__heading {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.1px;
  color: #fff;
  margin-bottom: 36px;
}

.join-us__desc {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 13px;
  margin-top: 0;
  text-transform: uppercase;
  color: #fff;
  line-height: 40px;
  letter-spacing: 5px;
}

.join-us__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-us__input {
  width: 300px;
  padding: 10px 20px;
  border-radius: 5px;
  line-height: 28px;
  font-size: 14px;
  border: none;
  color: #242a45;
  margin-right: 16px;
}

.join-us__input::-webkit-input-placeholder {
  color: rgba(36, 42, 69, 0.25);
}

.join-us__input:-ms-input-placeholder {
  color: rgba(36, 42, 69, 0.25);
}

.join-us__input::-ms-input-placeholder {
  color: rgba(36, 42, 69, 0.25);
}

.join-us__input::placeholder {
  color: rgba(36, 42, 69, 0.25);
}

.join-us__button {
  padding: 8px 22px;
  background-color: #fa5959;
  color: #fff;
  border: 2px solid #fa5959;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s linear, border 0.3s ease;
  transition: background-color 0.2s linear, border 0.3s ease;
}

.join-us__button:hover {
  border: 2px solid #fa5959;
  background-color: #fff;
  color: #fa5959;
}

.site-footer {
  background-color: #242a45;
}

.site-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
}

.site-footer__logo {
  margin-right: 64px;
}

.site-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: auto;
}

.site-footer__item:not(.site-footer__item:last-of-type) {
  margin-right: 48px;
}

.site-footer__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.site-footer__link:hover {
  color: #fa5959;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link:not(.socials__link:first-child) {
  margin-left: 40px;
}

.socials__link:hover svg path {
  fill: #fa5959;
}

svg path {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
/*# sourceMappingURL=main.css.map */