.buttons-site-hero {
    display: flex;
    align-items: center;
}
.buttons-site-hero__button {
    display: inline-block;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s linear,
                border 0.3s ease,
                color 0.2s linear;
}
.buttons-site-hero__button--blue {
    border: 2px solid transparent;
    color: #fff;
    background-color: $primary-color;
    margin-right: 16px;
    &:hover {
        border: 2px solid $primary-color;
        background-color: #fff;
        color: $primary-color;
    }
}
.buttons-site-hero__button--white {
    color: $dark-blue;
    background-color: #f7f7f7;
    border: 2px solid #f7f7f7;
    &:hover {
        border: 2px solid $dark-blue;
        background-color: transparent;
    }
}

@include breakpoint-down(1000px) {
    .buttons-site-hero {
        margin: 0 auto;
    }
}