.extension__container {
    margin-bottom: 140px;
}
.extension__heading {
    color: $dark-blue;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
}
.extension__info {
    font-size: 18px;
    line-height: 28px;
    color: rgba(36, 42, 69, 0.5);
    margin: 0;
}

@include breakpoint-down(600px) {
    .extension__heading {
        font-size: 24px;
        line-height: 40px;
        letter-spacing: -0.075px;
    }
    .extension__info {
        font-size: 15px;
        line-height: 25px;
    }
}
