.features {
    padding-top: 50px;
    padding-bottom: 50px;
}
.features__header {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-align: center;
}
.features__heading {
    color: $dark-blue;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
}
.features__info {
    font-size: 18px;
    line-height: 28px;
    color: rgba(36, 42, 69, 0.5);
    margin: 0;
}
.features__panel {
    display: none;
    &--active {
        display: block; 
    }
}
