.panels-features {
    background-image: url("../../images/features-slide-first-bg.svg");
    background-repeat: no-repeat;
    background-size: 1065px 435px;
    width: 100%;
    background-position: calc(50% - 550px) calc(50% - 30px);
}
.panels-features--second .container {
    
    background-image: url("../../images/features-slide-second-bg.svg");
    display: none;
}
.panels-features--third .container {
    background-image: url("../../images/features-slide-third-bg.svg");
    display: none;
}
.panel {
    max-width: 445px;
    margin-left: auto;
    padding-top: 57px;
    padding-bottom: 207px;
}
.panel__heading {
    color: $dark-blue;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
}
.panel__desc {
    font-size: 18px;
    line-height: 28px;
    color: rgba(36, 42, 69, 0.5);
    margin-top: 0;
    margin-bottom: 32px;
}
.panel__more-info {
    text-transform: capitalize;
    display: inline-block;
    padding: 8px 22px;
    color: #fff;
    background-color: $primary-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: background-color 0.2s linear,
                border 0.3s ease,
                color 0.2s linear;
    &:hover {
        border: 2px solid $primary-color;
        background-color: #fff;
        color: $primary-color;
    }

}



@include breakpoint-down(1000px) {
    .panels-features {
        width: 100%;
        background-position: calc(50% - 200px) calc(50% - 170px);
        padding-bottom: 40px;
    }
    .panel {
        margin: 0 auto;
        text-align: center;
        padding-top: 510px;
        padding-bottom: 0;
    }
}
@include breakpoint-down(800px) {
    .panels-features {
        background-size: 865px 345px;
    }
    .panel {
        padding-top: 415px;
    }
}
@include breakpoint-down(500px) {
    .panels-features {
        background-size: 612px 238px;
        background-position: calc(50% - 140px) calc(50% - 150px);
    }
    .panel {
        padding-top: 270px;
    }
    .panel__heading {
        font-size: 24px;
        line-height: 52px;
    }
    .panel__desc {
        font-size: 15px;
        line-height: 25px;
    }
}
@include breakpoint-down(450px) {
    .panels-features {
        background-size: 612px 238px;
        background-position: calc(50% - 140px) calc(50% - 160px);
    }
    .panel {
        padding-top: 270px;
    }
}
@include breakpoint-down(350px) {
    .panels-features {
        background-size: 512px 188px;
        background-position: calc(50% - 110px) calc(50% - 180px);
    }
    .panel {
        padding-top: 250px;
    }
    .panel__heading {
        line-height: 40px;
    }
}