.questions {
    margin-bottom: 150px;
}
.questions__heading {
    color: $dark-blue;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
}
.questions__info {
    font-size: 18px;
    line-height: 28px;
    color: rgba(36, 42, 69, 0.5);
    margin: 0;
}
.questions__list {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 54px;
    text-align: center;
}

.questions__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding-top: 19px;
    padding-right: 24px;
    padding-left: 0;
    padding-bottom: 13px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    line-height: 32px;
    transition: 0.4s;
    border-top: 1px solid rgba(36, 42, 69, 0.15);
}
.questions__item--fourth {
    border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}
.active.questions__item::after {
    transform: rotate(180deg);
}
.questions__item:hover {
    color: $dark-pink;
}

.questions__item::after {
    content: "";
    background-image: url("../../images/arrow-to-bottom.svg");
    width: 16px;
    height: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: transform 0.2s linear;
}

.questions__item span {
    margin-right: 10px;
}
.questions__toggler {
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

.questions__desc {
    text-align: left;
    font-size: 16px;
    line-height: 36px;
    color: rgba(36, 42, 69, 0.5);
}
.questions__desc--last {
    border-bottom: 1px solid rgba(36, 42, 69, 0.15);
    padding-bottom: 14px;
}
.questions__more-info {
    width: 115px;
    text-transform: capitalize;
    display: flex;
    padding: 8px 22px;
    color: #fff;
    background-color: $primary-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    border-radius: 5px;
    border: 2px solid transparent;
    margin: 0 auto;
    transition: background-color 0.2s linear,
                border 0.3s ease,
                color 0.2s linear;
    &:hover {
        border: 2px solid $primary-color;
        background-color: #fff;
        color: $primary-color;
    }
}

@include breakpoint-down(600px) {
    .questions__heading {
        font-size: 24px;
        line-height: 40px;
        letter-spacing: -0.075px;
    }
    .questions__info {
        font-size: 15px;
        line-height: 25px;
    }
    .questions__desc {
        font-style: 15px;
        line-height: 30px;
    }
}
@include breakpoint-down(500px) {
    .questions__item {
        padding-right: 0;
        font-size: 15px;
    }
}