.site-hero__info {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.site-hero__info__heading {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    margin-bottom: 24px;
    color: $dark-blue;
}
.site-hero__info__desc {
    font-size: 17.7px;
    line-height: 28px;
    margin-top: 0;
    color: rgba(36, 42, 69, 0.5);
    margin-bottom: 32px;
}


@include breakpoint-down(1200px) {
    .site-hero__info {
        max-width: 450px;
    }
}

@include breakpoint-down(1000px) {
    .site-hero__info {
        margin: 380px auto 0;
        text-align: center;
        max-width: 500px;
    }
}