.site-hero {
    margin-top: 150px;
    background-image: url("../images/site-hero-right-bg--desktop.svg");
    background-repeat: no-repeat;
    background-size: 1154.5px 485.5px;
    background-position: calc(50% + 590px), calc(50% + 100px);
    width: 100%;
    min-height: 485.5px;
    padding-top: 99px;
    padding-bottom: 123px;
    margin-bottom: 80px;
}


@include breakpoint-down(1200px) {
    .site-hero {
        background-size: contain;
        background-position: calc(50% + 490px), calc(50% + 100px);
    }
}

@include breakpoint-down(1000px) {
    .site-hero {
        background-size: 950px 335px; 
        background-position: calc(50% + 200px) calc(50% - 200px);
        padding-bottom: 63px;
    }
}
@include breakpoint-down(500px) {
    .site-hero {
        background-size: 614px 254px; 
        background-position: calc(50% + 130px) calc(50% - 200px);
    }
}
@include breakpoint-down(350px) {
    .site-hero {
        background-size: 554px 234px; 
        background-position: calc(50% + 130px) calc(50% - 200px);
    }
}