.site-hero {
    background-image: url("../images/site-hero-right-bg--desktop.svg");
    background-repeat: no-repeat;
    background-size: 1154.5px 485.5px;
    background-position: calc(50% + 590px), calc(50% + 100px);
    width: 100%;
    min-height: 485.5px;
    padding-top: 99px;
    padding-bottom: 123px;
    margin-bottom: 80px;
}